/* Parametri pagina intera */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: white;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

/* Header fixed */

header {
    height: 50px;
    text-align: right;
}

header button {
    margin: 5px;
    border: 0;
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main */

main {
    height: calc(100vh - 50px - 75px);
}

main .participants-gallery {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.participant {
    width: 250px;
    height: 150px;
    position: relative;
    padding: 5px;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px;
}

/* Footer */

footer {
    height: 80px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

footer .icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.green {
    color: #4bc800;
}

.red{
    color: red;
}

.white{
    color: white;
}

.footer-right button {
    background-color: #4a4a4a;
    height: 100%;
    border: 0;
    padding: 0 5px;
}
