/* Parametri pagina intera */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-size: 14;
    background-color: black;
    color: white;
}

.bordered

img {
    size: 100%;
}

/* Header mobile */

header {
    height: 50px;
    text-align: right;
}

header button {
    margin: 5px;
    border: 0;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Main */

main {
    height: calc(100vh - 125px);
}

main .participants-gallery {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.participants {
    width: 250px;
    height: 150px;
    position: relative;
}

/* Footer */

footer {
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-center {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .icon {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
footer .icon .green {
    color: greenyellow;
}

.footer-right button {
    background-color: lightgray;
    color: red;
}